<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
 <!--指定当前工程在管控平台中心的名称-->
    <dubbo:application name="01-provider-zk"/>
<!--
    指定注册中心:单机版
  <dubbo:registry address="zookeeper://note03:2181"/>
-->

    <!--zk集群

     -->
    <dubbo:registry address="zookeeper://note03:2181?backup=note05:2181,note07:2181"/>
   <!-- <dubbo:registry protocol="zookeeper" address="note03:2181,note05:2181,note07:2181"/>-->
<!--
    注册业务接口实现类，它是真正的服务提供者
-->
    <bean id="someService" class="provider.SomeServiceImpl" />
    <!--服务暴露-->
    <dubbo:service interface="com.abc.service.SomeServer" ref="someService"/>
</beans>